* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-black-color: #212121;
  --primery-text-color: #757575;
  --primary-white-color: #ffffff;

  --accent-color: #2196f3;
  --background-black: #2f303a;
  --background-gray: #f5f4fa;
  --button-filter: #f5f4fa;
  --button-primary-hover: #188ce8;
  --logo-black: #000000;
  --text-wite-opacity: #ffffff99;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primery-text-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header section */

.header-encabezado {
  display: flex;
  justify-content: flex-start;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background: var(--primary-white-color);
  align-items: center;
  border-bottom: 1px solid #eee;
}

.nav-menu {
  list-style: none;
  display: flex;
  padding: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-menu li a:hover,
.nav-menu li a:focus {
  color: var(--accent-color);
}

.nav-menu li:first-child {
  padding-right: 93px;
}

.nav-menu li:nth-child(n + 2) {
  padding-right: 50px;
}

.pagina-actual {
  color: var(--button-primary-hover);
}

.nav-menu,
.color-black {
  color: var(--primary-black-color);
}

/*index section */
/* main/hero section */

.bg-hero {
  background: var(--background-black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  flex-direction: column;
}

#hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  width: 696px;
  text-align: center;
}

.bg-hero .button-primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  text-transform: capitalize;
}

.button-primary {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  padding: 10px 32px;
}

.benefits-list {
  display: flex;
  margin-top: 95px;
  margin-left: 20px;
}

.benefits-list li {
  width: 270px;
  text-align: left;
  margin-right: 30px;
}

.benefits-list .title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-black-color);
}

.description {
  line-height: 1.7;
  margin-top: 10px;
}

.section-do div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 94px;
  margin-bottom: 94px;
}

.section-do div ul {
  display: flex;
  gap: 30px;
}

.title-do {
  color: var(--primary-black-color);
  display: flex;
  width: 371.145px;
  height: 46.244px;
  flex-direction: column;
  margin-bottom: 55.05px;
}

.section-do .title-do,
.section-team .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.team-title {
  width: 371.145px;
  height: 46.244px;
  display: flex;
  flex-direction: column;
  margin-top: 94px;
  margin-bottom: 50px;
}

.section-team div ul {
  display: flex;
  gap: 37px;
}

.section-team div li {
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section-team div {
  margin-top: 50px;
  margin-bottom: 94px;
}

.section-team .name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.section-team {
  background: var(--background-gray);
}

.section-team .team-title,
.section-team .name-title {
  color: var(--primary-black-color);
}

.section-team .description-team {
  font-size: 16px;
  line-height: 1.8;
}

.section-team h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.section-team p {
  margin-bottom: 30px;
  text-align: center;
}

/* portfolio section */
/* main/hero section */

.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 82px;
}

.container-portfolio li {
  background: var(--primary-white-color);
  align-items: center;
  border: 1px solid #eee;
  margin-bottom: 30px;
  text-align: left;
  width: 370px;
}

.container-portfolio li:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-left: 24px;
  color: var(--primary-black-color);
}

.container-portfolio .portfolio-title:hover {
  color: var(--accent-color);
}

.list-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 106px;
  margin-bottom: 50px;
}

.list-button .button,
.list-button .button-current {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 20px;
}

.button-current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.list-button .button:hover {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.8;
  padding-left: 24px;
  color: var(--primery-text-color);
}

/* footer section index-portfolio*/

.contacts-menu-foo ul {
  padding-top: 60px;
}

.section-footer {
  background: var(--background-black);
  width: 1600px;
  height: 252px;
  flex-shrink: 0;
}

.contacts-menu-head {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contacts-menu-head li:first-child {
  padding-left: 271px;
  padding-right: 50px;
}

.contacts-menu-foo {
  font-style: normal;
}

.contacts-menu-head .item,
.contacts-menu-foo {
  color: var(--primary-black-color);
}

.contacts-menu-head .item-cel,
.contacts-menu-head .item-mail {
  color: var(--primery-text-color);
}

.contacts-menu-head .item-cel:hover,
.contacts-menu-head .item-cel:focus,
.contacts-menu-head .item-mail:hover,
.contacts-menu-head .item-mail:focus,
.contacts-menu-foo .item-add:hover,
.contacts-menu-foo .item-add:focus,
.contacts-menu-foo .item-mail:hover,
.contacts-menu-foo .item-mail:focus,
.contacts-menu-foo .item-cel:focus,
.contacts-menu-foo .item-cel:hover {
  color: var(--accent-color);
}

.contacts-menu-foo .item-add {
  color: var(--primary-white-color);
}

.contacts-menu-foo .item-mail,
.contacts-menu-foo .item-cel {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-menu-foo li {
  display: flex;
}
